<a href="https://colab.research.google.com/github/rehanmehdichandio/Basic-Concepts-of-Python/blob/main/Concepts_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Print() in Python Day: 1**

In [ ]:
print("Hello World")

Hello World

In [ ]:
print(3.5)

3.5

In [ ]:
print(True)

True

In [ ]:
print("India", "Pakistan", "Srilanka", 3, 9.999)

India Pakistan Srilanka 3 9.999

In [ ]:
print("India", "Pakistan", "Srilanka", 3, 9.999, sep="/")

India/Pakistan/Srilanka/3/9.999

In [ ]:
print("India", "Pakistan", "Srilanka", 3, 9.999, sep="/", end=".")

India/Pakistan/Srilanka/3/9.999.

In [ ]:
print("India", "Pakistan", "Srilanka", 3, 9.999, sep="/", end="\n")
print("India", "Pakistan", "Srilanka", 3, 9.999, sep="/", end="\n")

India/Pakistan/Srilanka/3/9.999
India/Pakistan/Srilanka/3/9.999

**Data Types in Python Day:2**

In [ ]:
#integer

In [ ]:
print(4)

4

In [ ]:
print(1e309)

inf

In [ ]:
#float
print(2.5)
print(1.7e308) #309 is limit

2.5
1.7e+308

In [ ]:
#complex

print(4+5j)

(4+5j)

In [ ]:
#String
print("HI")

print('hi')

HI
hi

In [ ]:
#list

print([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [ ]:
x=[1,2,3]
y=x
y[1]=4
print(x)
print(y)

[1, 4, 3]
[1, 4, 3]

In [ ]:
#touple
print((1,2,3,4))

(1, 2, 3, 4)

In [ ]:
#sets

print({1,2,3})

{1, 2, 3}

In [ ]:
#dictionary

print({"Name": "Rehan", "Age":23, "Caste": "Chandio"})

{'Name': 'Rehan', 'Age': 23, 'Caste': 'Chandio'}

**Comments in Python Day3**

In [ ]:
#Comments
#Declare two variables and add both of them
a=5
b=7
print(a+b)

12

**Variables in Python Day:4**

In [ ]:
#variables

name = 'Rehan'
print(name)

Rehan

In [ ]:
name = 4

print(name)

4

In [ ]:
#Dynamic Typing: No declaring the type of Data
#Static Typing: Declrating the data type

In [ ]:
#special syntax

a=5; b=6; c=7
print(a)
print(b)
print(c)

5
6
7

In [ ]:
a,b,c=4,5,6
print(a)
print(b)
print(c)

4
5
6

**Identifiers and Keywords in Python Day:5**

Keywords:
   Reserved words of the programming language which can't be used as a variable.

In [ ]:
#Keyword:

import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

Identifiers:

A python indentifier is a name used to identify a variable, function, class, module or other objects.



*   Can only Start with an alphabet or _
*   Followed by 0 or more letters, _ and digits
*   Keywords cannot be used as an identifier

In [ ]:
name = 'Rehan'
print(name)

Rehan

In [ ]:
_=4;
print(_)

4

In [ ]:
First_Name= 'Rehan'
print(First_Name)

Rehan

**User-Input and Type Conversion Day:06**

In [ ]:
input('Name:')

Name:Rehan Mehdi

'Rehan Mehdi'

In [ ]:
first_num = input('Enter the first number:')
second_num = input('Enter the second number')

Enter the first number:5
Enter the second number4

In [ ]:
print(first_num)
print(second_num)

5
4

In [ ]:
result = first_num + second_num

print(result)

54

In [ ]:
type(result)

str

In [ ]:
#Type Conversion --> Not a permenant Operation
#implicit --> Automatic type conversion by python
#explicit --> Programmer does himself

In [ ]:
#implicit
5+5.5+5+5j

(15.5+5j)

In [ ]:
#explicit

int(first_num)
print(first_num)
type(first_num)

5

str

In [ ]:
first_num = input('Enter the first number:')
second_num = input('Enter the second number')

result = int(first_num) + int(second_num)

print(result)

Enter the first number:5
Enter the second number5
10

**Literals in Python Day07**

  literal basically a raw data given in a varibale in Python. There are various types of Literals

Numeric Literals

In [ ]:
a = 0b1010  #Binary Literals
b=100   #Decimal Literals
c=0o310   #Octal Literals
d=0x12c   #Hexadecimal literals
print(a)
print(b)
print(c)
print(d)

10
100
200
300

String Literals

In [ ]:
string = 'This is python'
strings = "This is Python"
char = "C"
multiliner = """This is multiline string with more than one line of code"""

In [ ]:
print(string)
print(strings)
print(char)
print(multiliner)

This is python
This is Python
C
This is multiline string with more than one line of code

**Operator in Python Day:8**


*   Arithmetic operators
*   Comparision operators
*   Logical Operator
*   Bitwise Operators
*   Assignment Operators
*   Identity Operator
*   Membership Operator

In [ ]:
#Arithmatic

x = 5
y = 2

print("This addition: ", x+y)
print("This substraction: ", x-y)
print("This Multiplication: ", x*y)
print("This Division: ", x/y)
print("This Modulus: ", x%y)
print("This Exponent: ", x**y)
print("This Floor Division: ", x//y)

This addition:  7
This substraction:  3
This Multiplication:  10
This Division:  2.5
This Modulus:  1
This Exponent:  25
This Floor Division:  2

In [ ]:
#Comparision Operators
print("Result of equal to operator is: ", x==y)
print("Result of greater than operator is: ",x>y)
print("Result of less than operator is: ",x<y)
print("Result of not equals to operator is: ",x!=y)
print("Result of greater than and equals to operator is: ",x>=y)
print("Result of less than and equals to operator is: ",x<=y)

Result of equal to operator is:  False
Result of greater than operator is:  True
Result of less than operator is:  False
Result of not equals to operator is:  True
Result of greater than and equals to operator is:  True
Result of less than and equals to operator is:  False

In [ ]:
#logical Operators

x = True
y = False

print("Result of and operator is: ",x and y)
print("Result of or operator is: ",x or y)
print("Result of not operator is: ",not y)

Result of and operator is:  False
Result of or operator is:  True
Result of not operator is:  True

In [ ]:
#bitwise operators  and operator will be performed on binary

x=2
y=3
print(x & y)

# 2 = 010
# 3 = 110
#---------
#     010 =2

2

In [ ]:
print(x|y) #or operator will be performed on binary
# 2 = 010
# 3 = 110
#---------
#     010 =2

3

In [ ]:
#Assignemnt operator

x=2
print(x)
x +=3
print(x)
x = x+3
print(x)

#increment and decrement operator is not used in python (a++ or ++a)

2
5
8

In [ ]:
#identity operators     two or more variables having same value and same memroy

a = "Hello"
b = "Hello"
print(a is b)

a = 5
b = 5
print(a is b)


a = [1,2,3]
b = [1,2,3]
print(a is b)


#Having same values only does not specify the problem it should
#be on the same memory as well

True
True
False

In [ ]:
#Membership Operator

x = "Delhi"

print("D" in x)

x = [1,2,3]
print(1 in x)
print(2 not in x)

True
True
False

**Decision Control Statements Day09**

In [ ]:
#Correct emial is rehan@gmail.com
#Correct password is 1234
email = input("Enter you email");
password = input("Enter your password");

if email == "rehan@gmail.com" and password == "1234":
  print("Welcome")

else:
  print("Incorrect email or password")

Enter you emailrehan@yahoo.com
Enter your password1234
Incorrect email or password

**Indentation and If-else statements Day10**

indentation increases code readability, use tab

In [2]:
#In Python there are two loops

#While loop
#For loop

In [6]:
#While Loop

number = int(input("Enter the number"))
i = 1

while i<11:
  print(number, "x", i,"=", number*i)
  i+=1

Enter the number9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [8]:
#Tic Tac Toe Game
import random
jackpot = random.randint(1,100)
Guess_Numer = int(input("Guess kr"))
counter = 1
while Guess_Numer != jackpot:
  if Guess_Numer < jackpot:
    print("Guess higher")
  else:
    print("Guess lower")
  Guess_Numer = int(input("Guess kr"))
  counter += 1


print("Correct Guess")
print("You took", counter, "attempts")

Guess kr70
Guess lower
Guess kr30
Guess higher
Guess kr40
Guess higher
Guess kr50
Guess lower
Guess kr57
Guess lower
Guess kr47
Guess lower
Guess kr43
Guess higher
Guess kr45
Guess higher
Guess kr46
Correct Guess
You took 9 attempts

**For Loop**

In [9]:
#Range Function

range(1,11)

range(1, 11)

In [10]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
for i in range(10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [16]:
for i in (1,2,3,4):
  print(i)

1
2
3
4

**Nested Loop**

In [17]:
#*
#**
#***
#****
#*****

In [19]:
rows = int(input("Enter number of rows"));

for i in range(1, rows+1):
    for j in range(0,i):
        print("*", end= " ")
    print("")

Enter number of rows6
*
* *
* * *
* * * *
* * * * *
* * * * * *

**Break and Continue**

In [20]:
for i in range (1, 11):
  if i==5:
    break
  print(i)

1
2
3
4

In [21]:
for i in range(1,11):
  if i==5:
    continue
  print(i)

1
2
3
4
6
7
8
9
10

**Built-in Function**

In [26]:
#Print
#used for printing/displaying

print('hello')

hello

In [29]:
#input
#Takes input from user

name = input('Enter your name')

Enter your namerehan

In [30]:
#type
#Tells the type of data

type(name)

str

In [34]:
#int etc.
int(5.6)
#float
#list
#tuple

5

In [35]:
#abs--> Modulus fucntion

abs(-4)

4

In [36]:
#pow

pow(3,5)

243

In [38]:
#min/max

new = [3,4,6,7,3]

min(new)

3

In [41]:
#round

c= 3.8923
round(c)

4

In [42]:
#divmod
divmod(5,2)

(2, 1)

In [44]:
#bin/oct/hex

hex(4)

'0x4'

In [45]:
#ID  --> Return address in memory
a=3
id(a)

11642152

In [46]:
#ord
#gives ASCII Code

ord('A')

65

In [47]:
#len
len(name)

5

In [48]:
#Sum
sum([1,2,3,4])

10

In [49]:
#help
#Gives documentation of given function

help(sum)

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.